/* Estilos generales */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  /* Estilos del header */
  
  header {
    background-color: #233142;
    color: #fff;
    padding: 20px;
    text-align: center;
    
  }
  header img{
    height: 120px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  p {
    margin-bottom: 0;
  }
  
  /* Estilos del formulario de login */
  
  .login-form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  button {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
  }
  
  a {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  